<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MongoConnection" value="mongodb://autogeardb:aHEOUioYe8UYd5e780nlyJv4pi2oIiABTAs5JOvyMlV90Bxygz379FldSj1JlLK2noYDI2tcc2iErpizZkk6rg==@autogeardb.documents.azure.com:10250/?ssl=true" />
    <add key="MongoDB" value="local" />    
  </appSettings>  
</configuration>